.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
tmp
*.RData
inst/doc
Tmp/**
*.qs
docs/
SKILL.md
.codebuddy/

.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
.positai
SigBridgeR.Rcheck/
SigBridgeR*.tar.gz
SigBridgeR*.tgz
CRAN-SUBMISSION
cran-comments.md
.github/pkg.lock
*.rmarkdown
Rplots.pdf
/.quarto/
**/*.quarto_ipynb
index_files/
*index.html
tests/testthat/testthat-problems.rds
/.uvr/library/
/.uvr/activate*
